div > div#pricing > div.container > div.row > div.col-lg-4 > div > ul.desc > li {
    font-size: 10px;
}

div.new-container {
    z-index: 1;
    margin-left: 40%;
    width: 270%;
    text-align: center;
}

div.media a {
    z-index: -1;
    float: left;
    height: 130px;
    width: 130px;
    margin: 0px 2px;
    background: url('../images/girl.jpg');
}

div.fel a {
    background-position: -318px -63px;
}
div.sil a {
    background-position: -38px -63px;
}
div.yen a {
    background-position: -38px -218px;
}
div.jes a {
    background-position: -458px -63px;
}
div.may a {
    background-position: -458px -218px;
}

footer > div > div > div > div > ul.misc-class {
    text-align: right;
    margin-top: 50px;
}

footer > div > div > div > div > ul > li.misc {
    margin: 0px;
    padding: 0px 20px;
    display: inline;
}

div > div > div > div > div.new-item {
    width: 200px;
    color: pink;
}